.logo {
  padding: 30px 20px;
  height: 360px;
  width: 70px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 10;
}

.logo img {
  padding: 5px 0;
  height: 40px;
  filter: drop-shadow(0px 0px 3px #000000c0);
}

#spin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.main {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  opacity: 0;
  transition: 0.8s;
}

.videobackground {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.videobackground > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ribbon {
  position: absolute;
  top: 0;
  left: 70px;
  height: 100dvh;
  width: 17dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(240, 240, 240, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9;
}

.icon {
  height: 16.5dvh;
  width: 15dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon > div {
  height: 15dvh;
  max-height: 80px;
  aspect-ratio: 1;
  border-radius: 7.5dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.icon>p{
  font-size: 90%;
}

.icon > div > img {
  height: 100%;
  transition: 400ms;
}

.icon > div > img:hover {
  height: 110%;
}

.icon-poster {
  height: 10dvh;
  min-height: 60px;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10dvh;
}

.icon-poster > img {
  background-color: #fff;
  padding: 5px;
}

.icon-poster > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-poster > * {
  height: 100%;
  margin: 0 3px;
}

.icon-poster > a > img {
  height: 100%;
}

.icon-poster > div > a {
  height: 46%;
  margin: 2% 0;
}

.icon-poster > div > a > img {
  height: 100%;
}

.video {
  height: 10dvh;
  min-height: 100px;
  position: absolute;
  bottom: 20dvh;
  width: 100dvw;
}

.video > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

#playbutton-genshinimpact {
  height: 45px;
  width: 45px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}

#playbutton-genshinimpact > img {
  position: relative;
  left: 3px;
}

#playbutton-genshinimpact:hover {
  background-color: #00000000;
}

#playbutton-genshinimpact:hover > img {
  filter: brightness(500%);
}

#playbutton-tearsofthemis{
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

#playbutton-tearsofthemis>img{
  height: 100%;
  transform: 0s;
  transition-duration: 0s;
  animation: translateAnimation 2s linear infinite;
}

@keyframes translateAnimation{
  00% {translate: -00.00% 0;}
  01.99% {translate: -00.00% 0;}
  02% {translate: -01.96% 0;}
  03.99% {translate: -01.96% 0;}
  04% {translate: -03.92% 0;}
  05.99% {translate: -03.92% 0;}
  06% {translate: -05.88% 0;}
  07.99% {translate: -05.88% 0;}
  08% {translate: -07.84% 0;}
  09.99% {translate: -07.84% 0;}
  10% {translate: -09.80% 0;}
  11.99% {translate: -09.80% 0;}
  12% {translate: -11.76% 0;}
  13.99% {translate: -11.76% 0;}
  14% {translate: -13.72% 0;}
  15.99% {translate: -13.72% 0;}
  16% {translate: -15.68% 0;}
  17.99% {translate: -15.68% 0;}
  18% {translate: -17.64% 0;}
  19.99% {translate: -17.64% 0;}
  20% {translate: -19.60% 0;}
  21.99% {translate: -19.60% 0;}
  22% {translate: -21.56% 0;}
  23.99% {translate: -21.56% 0;}
  24% {translate: -23.52% 0;}
  25.99% {translate: -23.52% 0;}
  26% {translate: -25.48% 0;}
  27.99% {translate: -25.48% 0;}
  28% {translate: -27.44% 0;}
  29.99% {translate: -27.44% 0;}
  30% {translate: -29.40% 0;}
  31.99% {translate: -29.40% 0;}
  32% {translate: -31.36% 0;}
  33.99% {translate: -31.36% 0;}
  34% {translate: -33.32% 0;}
  35.99% {translate: -33.32% 0;}
  36% {translate: -35.28% 0;}
  37.99% {translate: -35.28% 0;}
  38% {translate: -37.24% 0;}
  39.99% {translate: -37.24% 0;}
  40% {translate: -39.20% 0;}
  41.99% {translate: -39.20% 0;}
  42% {translate: -41.16% 0;}
  43.99% {translate: -41.16% 0;}
  44% {translate: -43.12% 0;}
  45.99% {translate: -43.12% 0;}
  46% {translate: -45.08% 0;}
  47.99% {translate: -45.08% 0;}
  48% {translate: -47.04% 0;}
  48.99% {translate: -47.04% 0;}
  50% {translate: -49.00% 0;}
  51.99% {translate: -49.00% 0;}
  52% {translate: -50.96% 0;}
  53.99% {translate: -50.96% 0;}
  54% {translate: -52.92% 0;}
  55.99% {translate: -52.92% 0;}
  56% {translate: -54.88% 0;}
  57.99% {translate: -54.88% 0;}
  58% {translate: -56.84% 0;}
  59.99% {translate: -56.84% 0;}
  60% {translate: -58.80% 0;}
  61.99% {translate: -58.80% 0;}
  62% {translate: -60.76% 0;}
  63.99% {translate: -60.76% 0;}
  64% {translate: -62.72% 0;}
  65.99% {translate: -62.72% 0;}
  66% {translate: -64.68% 0;}
  67.99% {translate: -64.68% 0;}
  68% {translate: -66.64% 0;}
  69.99% {translate: -66.64% 0;}
  70% {translate: -68.60% 0;}
  71.99% {translate: -68.60% 0;}
  72% {translate: -70.56% 0;}
  73.99% {translate: -70.56% 0;}
  74% {translate: -72.52% 0;}
  75.99% {translate: -72.52% 0;}
  76% {translate: -74.48% 0;}
  77.99% {translate: -74.48% 0;}
  78% {translate: -76.44% 0;}
  79.99% {translate: -76.44% 0;}
  80% {translate: -78.40% 0;}
  81.99% {translate: -78.40% 0;}
  82% {translate: -80.36% 0;}
  83.99% {translate: -80.36% 0;}
  84% {translate: -82.32% 0;}
  85.99% {translate: -82.32% 0;}
  86% {translate: -84.28% 0;}
  87.99% {translate: -84.28% 0;}
  88% {translate: -86.24% 0;}
  89.99% {translate: -86.24% 0;}
  90% {translate: -88.20% 0;}
  91.99% {translate: -88.20% 0;}
  92% {translate: -90.16% 0;}
  93.99% {translate: -90.16% 0;}
  94% {translate: -92.12% 0;}
  95.99% {translate: -92.12% 0;}
  96% {translate: -94.08% 0;}
  97.99% {translate: -94.08% 0;}
  98% {translate: -96.04% 0;}
  99.99% {translate: -96.04% 0;}
  100% {translate: -98.00% 0;}
}

.play {
  display: none;
  position: absolute;
  top: 0;
  background-color: #000000c0;
  height: 100dvh;
  width: 100dvw;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 11;
}

/* .play > video {
  height: 504;
  width: 896;
} */

.AgeRestrictions {
  height: 10dvh;
  position: absolute;
  bottom: 5dvh;
  width: 100dvw;
  display: flex;
  justify-content: flex-end;
  padding: 0 5dvh;
}

#playbutton_honkai3rd{
  position: relative;
  height: 10dvh;
  width: 18dvh;
}

#playbutton_honkai3rd>.video{
  object-fit: cover;
}

#playbutton_honkai3rd>div{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
}

#playbutton_honkai3rd>div>img{
  height: 40%;
  position: absolute;
  top: 30%;
  left: 43%;
}
 
#playbutton_honkai3rd>div>img:hover{
  content: url("../img/Honkai_impact_3rd/play_button_color_change.webp");
}

#playbutton-honkaistar{
  height: 100%;
}

#playbutton-honkaistar>img{
  height: 100%;
}

#honkai_gakuen_2_bc {
  opacity: 1;
  z-index: 8;
}

#genshin_impact > p {
  border-bottom: #000 solid 2px;
}
