* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

li {
  list-style-type: none;
}

.frame {
  width: 100dvw;
  height: 300dvh;
  background-image: url(../img/honkai_star_rail/background.webp);
}

.frame > img {
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
}

.carousel {
  width: 400dvw;
  height: 100dvh;
  min-width: 2048px;
  display: flex;
  align-items: center;
}

.left,
.right {
  width: 5dvw;
  position: absolute;
  z-index: 3;
}

.left {
  left: 20%;
}

.right {
  left: 80%;
}

.play {
  display: none;
  position: fixed;
  top: 0;
  background-color: #000000c0;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.slide {
  position: relative;
  left: -824px;
  display: flex;
}

.slide > div {
  width: 30dvw;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 0px 3rem 0px 3rem;
}

.block {
  border: 3px solid #e1b066;
}

.slide > div:hover {
  border: 3px solid #e1b066;
}

.slide > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.word {
  position: absolute;
  top: 80%;
  left: 8px;
  width: 98%;
  height: 20%;
  background-color: black;
  border-radius: 0px 0 0px 0.4rem;
  opacity: 0.7;
  color: white;
  display: flex;
  align-items: center;
}

.word > p {
  margin-left: 30px;
  border-left: 3px solid #e1b066;
}

.revolve {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  overflow: hidden;
}

.revolve > img {
  position: absolute;
  height: 100dvh;
  left: 73dvw;
}

.revolve > ul {
  width: 100dvw;
  height: 100dvh;
  margin-left: 20%;
  margin-top: -3%;
}

.revolve > ul > li {
  position: absolute;
  height: 15dvh;
  width: 40dvw;
  top: 10%;
  left: 45%;
  overflow-y: hidden;
  transform-origin: 20px 20px;
  transition: all linear 0.5s 0s;
}

.revolve > ul > li > p {
  width: 100%;
  height: 20%;
}

.revolve > ul > li > img {
  object-fit: contain;
  margin-left: 37%;
  width: 100%;
  height: 90%;
}

.img_2 {
  position: absolute;
  top: 0;
  display: none;
}

.revolve > ul > li:nth-of-type(2) > img:nth-of-type(2) {
  display: block;
}

.revolve > ul {
  transform: rotate(-90deg);
}

.revolve > ul > li:nth-of-type(1) {
  transform: rotate(65deg);
}

.revolve > ul > li:nth-of-type(2) {
  transform: rotate(90deg);
}

.revolve > ul > li:nth-of-type(3) {
  transform: rotate(115deg);
}

.left_fig {
  position: absolute;
  top: 30%;
  left: 0;
  width: 80dvw;
  height: 50dvh;
}

.left_fig > ul {
  width: 90%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.left_fig > ul > li {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  transition: all linear 0.5s 0s;
  top: 0;
  left: 0;
}

.left_fig > ul > li > img {
  position: absolute;
  object-fit: contain;
}

.left_fig > ul > li:nth-child(2) {
  display: block;
}

.fig {
  position: absolute;
  width: 70dvw;
  height: 50dvh;
  left: -100dvw;
  display: none;
}

.fig > li {
  width: 100%;
  height: 45%;
  margin-top: 0.5%;
  display: flex;
}

.fig > li > div {
  width: 25%;
  height: 100%;
  display: flex;
  margin-left: 0.5%;
  overflow: hidden;
}

.fig > li:nth-of-type(1) > div:nth-of-type(1),
.fig > li:nth-of-type(2) > div:nth-of-type(3) {
  width: 50%;
  height: 100%;
}

.fig > li > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fig:nth-of-type(1) > li:nth-of-type(2) > div:nth-of-type(4) {
  width: 25%;
}

.fig > li > div:hover > .masks {
  display: block;
}

.masks {
  position: absolute;
  width: 24.6%;
  height: 45%;
  color: #debe79;
  display: none;
  cursor: default;
  background-color: rgb(2, 2, 2, 0.8);
}

.fig > li:nth-of-type(1) > div:nth-of-type(1) > .masks,
.fig > li:nth-of-type(2) > div:nth-of-type(3) > .masks {
  width: 49.3%;
}

.fig:nth-of-type(1) > li:nth-of-type(2) > div:nth-of-type(4) > .masks {
  width: 24.6%;
}

.masks > h2 {
  position: absolute;
  font-size: 1.3rem;
  top: 10%;
  left: 40%;
}

.masks > p {
  width: 90%;
  height: 70%;
  position: absolute;
  font-size: 1rem;
  top: 30%;
  left: 5%;
}
